.container{
    padding: 0px 100px;
}

.searchBar{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.searchBar input{
    width: 60%;
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
}

.activeBar{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.activeBar input{
    width: 20px;
    height: 20px;
}

.categoryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2em;
}

.item{
    text-align: center;
    width: 300px;
    padding: 1em;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.categoryDetailsContiner{
    margin: 60px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 99) 0px 2px 8px 0px;
}

.categoryName{
    padding-top: 10px;
}

.categoryDetails{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.categoryActive{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.categoryActive input{
    width: 20px;
    height: 20px;
}